<!-- footer -->
<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h4>Menu</h4>
      <ul class="footer-menu list">
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Contact</h4>
      <p>1503 6th Street West
      Carmel, <br> NY 10512</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Awards</h4>
      <a href="#"><img class="awards" src="http://gtpawfection.com/wp-content/uploads/2015/06/cropped-Groomed-to-Pawfection-Logo-Transparent-Background1.png"</></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Follow us on</h4>
      <ul class="nav navbar-nav">
        <li class="social">
          <a href='#'>
            <span class='fa-stack fa-lg'>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-youtube-play fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li class="social">
          <a href='#'>
            <span class='fa-stack fa-lg'>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x"></i>
            </span>
          </a>
        </li>
        <li class="social">
          <a href='#'>
            <span class='fa-stack fa-lg'>
              <i class="fa fa-circle-thin fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
          </a>
        </li>
      </ul>
      </a>
    </div>
  </div>
</div>
  <p class="copyright">Copyright &#169; 2015 Spoilt Fluff</p>
</div>
