<!-- navigation menu -->
<ul class="nav nav-pills">
  <li class="brand">
    <a href="#">Spoilt Fluff</a>
  </li>
  <li role="presentation" class="tabs">
    <%= link_to "Home", '/'  %>
    <!-- <a href="#" class="active">Home</a> -->
  </li>
  <li role="presentation" class="tabs">
    <%= link_to "Services", '/services.html' %>
    <!-- <a href="#">Services</a> --> 
  </li>
  <li role="presentation" class="tabs"><a href="#">Gallery</a></li>
  <li role="presentation" class="tabs"><a href="#">Contact us</a></li>
  <li class="social" style="float:right"><a href="#" style="margin-right:55px"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/instagram-32.png" alt="instagram"</></a></li>
  <li class="social" style="float:right"><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/youtube-32.png" alt="youtube"</></a></li>
  <li class="social" style="float:right"><a href="#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/facebook-32.png" alt="facebook"</></a></li>
</ul>