<div class="container">
    <h2>Booking form</h2>
      <div class="contact-form">
        <form action="//formspree.io/heba@connectica.no" method="POST">
          <input type="hidden" name="_next" value="/thanks.html"/>
          <h4>Name</h4>
            <input type="text" name="name" class="input">
          <h4>E-mail</h4>
            <input type="email" name="e-mail" class="input">
          <h4>Service</h4>
              <input type="text" name="service" class="input">
          <h4>Type of pet</h4>
            <input type="textfield" name="type of pet" class="input">
          <h4>Has your animal been vaccinated?</h4>
            <ul>
              <li><p>yes</p></li>
              <li><input type="checkbox" name="yes" class="checkbox"/></li>
              <li><p>no</p></li>
              <li><input type="checkbox" name="no" class="checkbox"/></li>
            </ul>
        <h4>Message</h4></li>
            <input type="textfield" name="textfield" class="input"> <br>
            <input type="submit" value="Send" class="btn-primary">
        </form>
        <p class="back"><a href="/services.html"> << back to services</a></p>
      </div>
</div>
