<!-- header image -->
<div class="jumbotron">
  <div class="header">
    <h1>Spoilt Fluff gallery</h1>
    <!-- <p>Treat your pet to a full groom spa service</p> -->
  </div>
</div>

<div class="all-gallery">
  <div class="container">
    <h2>Grooming and trimming</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media1.fl.yelpcdn.com/bphoto/uZMMJucMkDEkiB7bc31WwQ/ls.jpg" alt="dog round trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media3.fl.yelpcdn.com/bphoto/dOstY6_soWw2Hqhp6sA9Zw/ls.jpg" alt="cat lion trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media2.fl.yelpcdn.com/bphoto/Mbk6aWaMumadvVQRqp65IQ/ls.jpg" alt="dog round trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media2.fl.yelpcdn.com/bphoto/rjSLsQpW0dLS9dDGFOhh_A/ls.jpg" alt="dog round trim cut">
        </a>
      </div>
    </div>
    <h2>Fur coloring</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media1.fl.yelpcdn.com/bphoto/wNFmiRztMAygW5P8-vWd5g/ls.jpg" alt="dog round trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media1.fl.yelpcdn.com/bphoto/ATu6O38WI7owKm6o0WFZWg/ls.jpg" alt="cat lion trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://goo.gl/dejAaF" alt="dog round trim cut">
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://s3-media2.fl.yelpcdn.com/bphoto/b3bgeNIY_R0fX23_4uVpbg/ls.jpg" alt="dog round trim cut">
        </a>
      </div>
    </div>
  </div>
</div>
