---
title: Welcome to Middleman
---

<!-- header image -->
<div class="jumbotron">
  <div class="header">
    <h1>Spoil your pet</h1>
    <p>Treat your pet to a full groom spa service</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Find out more</a></p>
  </div>
</div>

<!-- body -->

<!-- about -->
<div class="container">
  <div class="about">
    <h2>A full groom spa service</h2>
    <img src="http://s3-media2.fl.yelpcdn.com/bphoto/NHiPQrEwks1Yk6Iqg43i7g/ls.jpg"</>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <a href="#" class="btn btn-primary" role="button">Find out more</a> 
   </div>
  </div>
</div>


<!-- services -->
<div class="container">
  <div class="services">
    <h2>Popular Services</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTL0Xn1ZsxYnjXQ7Txv_0ocZicOgWs-9KeezhcaI_naIa0C2kSr" alt="pet washing">
        <div class="caption">
          <h3>Therapeutic Bath</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style="" src="http://goo.gl/pikIrA" alt="pet grooming">
        <div class="caption">
          <h3>Grooming & trimming</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://www.thebarkly.com/wp-content/uploads/2015/03/pet-grooming-services.jpg" alt="pet styling">
        <div class="caption">
          <h3>Styling & coloring</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>