---
title: Welcome to Middleman
---

<!-- navigation menu -->
<ul class="nav nav-pills">
  <li class="brand">
    <a href="#">Spoilt Fluff</a>
  </li>
  <li role="presentation" class="tabs"><a href="#" class="active">Home</a></li>
  <li role="presentation" class="tabs"><a href="#">Services</a></li>
  <li role="presentation" class="tabs"><a href="#">Gallery</a></li>
  <li role="presentation" class="tabs"><a href="#">Contact us</a></li>
  <li class="social" style="float:right"><a href"#" style="margin-right:55px"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/instagram-32.png" alt="instagram"</></a></li>
  <li class="social" style="float:right"><a href"#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/youtube-32.png" alt="youtube"</></a></li>
  <li class="social" style="float:right"><a href"#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/facebook-32.png" alt="facebook"</></a></li>
</ul>

<!-- header image -->
<div class="jumbotron">
  <div class="header">
    <h1>Spoil your pet</h1>
    <p>Treat your pet to a full groom spa service</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Find out more</a></p>
  </div>
</div>

<!-- body -->

<!-- about -->
<div class="container">
  <div class="about">
    <h2>A full groom spa service</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </p>
  </div>
</div>


<!-- services -->
<div class="container">
  <div class="services">
    <h2>Popular Services</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTL0Xn1ZsxYnjXQ7Txv_0ocZicOgWs-9KeezhcaI_naIa0C2kSr" alt="pet washing">
        <div class="caption">
          <h3>Therapeutic Bath</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6vlHVRMBY41MJDrhh8Xi-P-FGtnbndBGubbhNX9Dx9MbHweKZrA" alt="pet grooming">
        <div class="caption">
          <h3>Grooming & trimming</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://rcdpetresort.com/wp-content/uploads/2014/03/grooming-dog.jpg" alt="pet styling">
        <div class="caption">
          <h3>Styling & coloring</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="footer">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <h4>Menu</h4>
      <ul class="footer-menu list">
        <li><a href="#">Services</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Privacy & Terms</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Contact</h4>
      <p>1503 6th Street West 
      Carmel, <br> NY 10512</p>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Awards</h4>
      <a href="#"><img class="awards" src="http://gtpawfection.com/wp-content/uploads/2015/06/cropped-Groomed-to-Pawfection-Logo-Transparent-Background1.png"</></a>
    </div>
    <div class="col-sm-6 col-md-3">
      <h4>Follow us on</h4>
      <ul class="social list">
        <li class="social"><a href"#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/facebook-32.png" alt="facebook"</></a></li>
        <li class="social"><a href"#"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/youtube-32.png" alt="youtube"</></a></li>
        <li class="social"><a href"#" style="margin-right:40px"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2049/512/instagram-32.png" alt="instagram"</></a></li>
      </ul>
      </a>
    </div>
  </div>
</div>
  <p class="copyright">Copyright 2015 Spoilt Fluff</p>
</div>