<!-- header image -->

<div class="jumbotron">
  <div class="header">
    <h1>Services</h1>
    <p>Spoil your pet with a day at our spa</p>
  </div>
</div>

<!-- body -->
<div class="all-services">
  <div class="container">
        <h2>Services</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTL0Xn1ZsxYnjXQ7Txv_0ocZicOgWs-9KeezhcaI_naIa0C2kSr" alt="pet washing">
          <div class="caption">
            <h3>Therapeutic bath</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $150 
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img style="" src="http://goo.gl/pikIrA" alt="pet grooming">
          <div class="caption">
            <h3>Grooming and trimming</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $200
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://www.thebarkly.com/wp-content/uploads/2015/03/pet-grooming-services.jpg" alt="pet styling">
          <div class="caption">
            <h3>Styling and coloring</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $300 and up
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row bottom">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://pawabovepetsalon.com/wp-content/uploads/2014/01/Dog-Massage.jpg" alt="pet massage">
          <div class="caption">
            <h3>Luxury massage</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $50 per/hour
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img style="" src="http://doggysbakery.com/wp-content/uploads/2014/11/dog-dental.jpg" alt="pet dental treatment">
          <div class="caption">
            <h3>Dental treatment</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $150
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://static.wixstatic.com/media/11c4eb_f6144f7a70884f0090a7560209ca0869.jpg_srb_p_275_184_75_22_0.50_1.20_0.00_jpg_srb" alt="pet cuddling">
          <div class="caption">
            <h3>Cuddle time</h3>
            <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good. The dogs are separated into playrooms by size and temperament. They have playtime, walks and staff interaction.  A member of our staff will be in attendance at all times.</p>
            <p class="price">Price: $20 per/hour
            </p>
            <p><a href="#" class="btn btn-primary" role="button">Book now!</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>