<!-- header image -->

<div class="jumbotron">
  <div class="header">
    <h1>Services</h1>
    <p>Spoil your pet with our variety of spa services</p>
  </div>
</div>

<!-- body --> 
<div class="container">
  <div class="services">
    <h2>Popular Services</h2>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTL0Xn1ZsxYnjXQ7Txv_0ocZicOgWs-9KeezhcaI_naIa0C2kSr" alt="pet washing">
        <div class="caption">
          <h3>Therapeutic Bath</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img style="" src="http://goo.gl/pikIrA" alt="pet grooming">
        <div class="caption">
          <h3>Grooming & trimming</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="http://www.thebarkly.com/wp-content/uploads/2015/03/pet-grooming-services.jpg" alt="pet styling">
        <div class="caption">
          <h3>Styling & coloring</h3>
          <p>Pets certainly know when they are clean and looking good. Well-groomed pets are happier, better behaved, healthier, and more outgoing. Just like all of us, they feel good when they look good.</p>
          <p><a href="#" class="btn btn-primary" role="button">Book now!</a> <a href="#" class="btn btn-default" role="button">Read more</a></p>
        </div>
      </div>
    </div>
  </div>
</div>