<!-- header -->
<div class="jumbotron">
  <div class="header">
    <h1>Spoilt Fluff store</h1>
    <p>Visit our store for healthy homemade treats and more</p>
  </div>
</div>

<!-- body -->

<!-- products -->
<div class="all-products">
  <div class="container">
        <h2>Dog treats</h2>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="https://standeyo.com/News_Files/Pets/peanut.butter.biscuits.jpg">
          <div class="caption">
            <h3>Peanutbutter biscuits</h3>
            <p>Healthy and nutritious peanutbutter bisquits with banana. This snack is not only delicious but is also filled with fiber, vitamin A, beta-carotene, potassium, and iron.</p> <br>
            <p class="price">Price: $7,50 per/100gr
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://romeothelittleblackdog.com/wp-content/uploads/2014/04/brie-turkey.jpg" alt="pet grooming">
          <div class="caption">
            <h3>Turkey cranberry biscuits</h3>
            <p>Healthy and nutritious pumpkin cookies with walnuts. This snack is not only delicious but is also filled with fiber, vitamin A, beta-carotene, potassium, and iron.</p>
            <p class="price">Price: $20 per/100gr
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://www.cindyspetcafe.com/dog_treats_cat_treats/250/Bully-400.png" alt="pet styling">
          <div class="caption">
            <h3>Date-flavored dental chews</h3>
            <p>Healthy and nutritious pumpkin cookies with walnuts. This snack is not only delicious but is also filled with fiber, vitamin A, beta-carotene, potassium, and iron.</p>
            <p class="price">Price: $4,50 per/piece
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="http://bunkblog.net/wp-content/uploads/2012/02/R1.2.jpg" alt="pet styling">
          <div class="caption">
            <h3>Oatmeal banana cookies</h3>
            <p>Healthy and nutritious pumpkin cookies with walnuts. This snack is not only delicious but is also filled with fiber, vitamin A, beta-carotene, potassium, and iron.</p>
            <p class="price">Price: $12,50 per/100gr
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
