
<div class="container">
  <h2>Thank you!</h2>
  <div class="thank">
    <p>Your booking will be processed. We will send you a confirmation to your inbox.</p>
    <p class="back"><a href="/services.html"> << back to services</a></p>
  </div>
</div>
